從0開始數到第九個數為8

In [ ]:
a="0123456789abcdef"
print(a[8])

8

假設

In [ ]:
a=2
b=3
if a>b:
    print("hello")
print("OK")

OK

沒有加else,fu,且改成a=3,b=2,三個字會一起出現

In [ ]:
a = 2
b = 3
if a>b:
  print("hello")
else:
  print("world")
print("OK")

world
OK

In [ ]:
a = 2
b = 3
if a<b:
  print("a<b)")
  if a==1:
    print("a=1")
  elif a==2:
    print("a=2")
  elif a==3:
    print("a=3")
elif a>b:
  print("a>b")
else:
  print("a=b")
print("OK")

a<b)
a=2
OK

In [ ]:
i=[]
for t in range(10):
  t+=1
  i.append(t)
i

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a = 2
b = 3
c = 0
if a>b or a<c and a==2 or a==4:
  print("OK1")
else:
  print("xxx")

xxx

In [ ]:
for i in "abc":
  print(i)

a
b
c

In [ ]:
for a in ["x","y","z"]:
  for b in [1,2,3]:
    print(b)
  print(a)

1
2
3
x
1
2
3
y
1
2
3
z

In [ ]:
for a in ["x","y","z"]:
  for b in [1,2,3]:
    print(f"{a}{b}")

x1
x2
x3
y1
y2
y3
z1
z2
z3

In [ ]:
try:
  a = input('輸入數字:')
  print(a+1)
except:
  pass
print("hello")

輸入數字:6
hello

In [ ]:
a=[]
for i in range(1,10):
  a.append(i*i)
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
b=[j*j for j in range(1,10)]
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
a = 'hello world, I am oxxo, how are you?'
b=a.split(',')
c=a.split(' ')
d=a.split()
print(b)
print(c)
print(d)

['hello world', ' I am oxxo', ' how are you?']
['hello', 'world,', 'I', 'am', 'oxxo,', 'how', 'are', 'you?']
['hello', 'world,', 'I', 'am', 'oxxo,', 'how', 'are', 'you?']

In [ ]:
a = dict(name='oxxo', age=18, eat=['apple','banana'])
print(a)
print(type(a))

{'name': 'oxxo', 'age': 18, 'eat': ['apple', 'banana']}
<class 'dict'>

In [ ]:
t = ('apple','banana','orange','grap')
a,b,c,d = t
print(a)
print(b)
print(c)
print(d)

apple
banana
orange
grap

In [ ]:
a = set()
b = set([1,2,3,4,5,1,2,3,4,5])
c = set({'x':1,'y':2,'z':3})
d = set('hello')
print(a)
print(b)
print(c)
print(d)

set()
{1, 2, 3, 4, 5}
{'y', 'x', 'z'}
{'h', 'l', 'o', 'e'}

In [ ]:
t = ('apple','banana','orange','grap')
print(t[0])
print(t[1])
print(t[2])
print(t[3])

apple
banana
orange
grap

In [ ]:
a='hello world, I am oxxo, how are you?'
print(len(a))

36

In [ ]:
a = ['apple','banana','orange']
b = [1,2,3,4,5]
c = ['apple',1,2,3,['dog','cat']]
d = list('apple')
print(a,b,c,d)

['apple', 'banana', 'orange'] [1, 2, 3, 4, 5] ['apple', 1, 2, 3, ['dog', 'cat']] ['a', 'p', 'p', 'l', 'e']